
/*Colors*/
/*Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd*/

/*Dimensions*/
/*The entire content area is 960px wide.
The main section content is 650px wide.
The sidebar is 270px wide.*/

/*Font-families*/
/*For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.*/



* {
	box-sizing: border-box;
}

#header {
	margin: 0px;
	background-color: #ffffff;
	position: relative;
	border-bottom: 2px solid #cccccc;
	height: 90px;
	width: 100%;
}

#nameheader {
	float: left;
	background-color:#4aaaa5;
	color: #fff;
	padding: 25px;
	width: 270px;
	margin-top: 5px;
	height: 80px;
	position: absolute;
	left: 105px;
	bottom: 0px;
	margin-left: 20px;
	font-size: xx-large;
}

.navlist {
	list-style-type: none;
	margin-right: 180px;
	float: right;
	padding: 20px;
}


li a {
	float: left;
	color: #666666;
	padding: 8px;
}

li a:link{
	text-decoration: none;
}

li a:hover{
	background-color: #4aaaa5;
	color: white;
}

li {
	float: left;
	padding: 8px;
}

.borderrightgray {
	border-right: 1px solid gray;
}

#pagecontent {
	clear: both;
	background-image: url("../images/concrete_seamless.png");
	height:840px;
	width: 100%;
	padding-left: 105px;
	padding-right: 105px;
}

#mainsectioncontent {
	float: left;
	width: 650px;
	margin: 20px;
	border: 1px;
	padding: 20px;
	background-color: #ffffff;
	clear: both;
}

#bioimage {
	float: left;
	margin-right: 20px;
}

#sidebar {
	float: left;
	width: 270px;
	margin: 20px;
	border: 1px solid #dddddd;
	padding: 20px;
	background-color: white;
}


#footer {
	background-color: #666666;
	clear: both;
	text-align: center;
	padding: 20px;
	color: #fff;
	border-top: 8px solid #4aaaa5;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 20;
}

#box {
	 position: relative;
	 float: left;
	 margin: 20px;
	 z-index: 2;
}

.boxtitle {
	background-color: #4aaaa5;
	position:absolute;
	z-index: 4;
	bottom: 10px;
	width: 100%;
	padding: 20px;
}

.floatleft{
	float:left;
}

.textcenter {
	text-align: center;
}

.textcolor {
	color: #777777;
}

.textwhite {
	color: white;
}


.mediacenter {
	margin-left: 50px:
	margin-right: 0 auto;
}

.button {
	background-color: #4aaaa5;
	color: white;
	padding: 15px;
	font-size: 18px;
	width: 120px;
}

.fontbody {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

section {
	clear: both;
}

h1 h2 h3 h4 h5 h6 { 
	font-family:font-family: 'Georgia', Times, Times New Roman, serif;
}


h2 {
	color: #4aaaa5;
	border-bottom: 3px solid #cccccc;
	font-size: x-large;
	margin: 20px;
	padding-bottom: 20px;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}


body {
	background-image: url("./assets/images/concrete_seamless.png");
}

form {
	margin-left: 20px;
	margin-right: 5px;
	font-size: large;
}

input {
	width: 100%;
}

